<h1> New questions</h1>

<%= form_with model: [@test, @question], method: :post do |form| %>
  <%= form.text_field :body %>
  <%= form.submit "Create" %>
<% end %>

<br>

<%= link_to "Back", test_questions_path %>
