<h1> my badges </h1>

<table class = "table table-striped table-bordered text-center">
  <tr>
    <th><b> badge </b></th>
    <th><b> rule </b></th>
    <th><b> todo </b></th>
  </tr>

  <%= render @badges %>

</table>

<%= link_to t(:create, scope: :base), new_admin_badge_path, class: 'btn btn-primary' %>
<%= link_to t(:back, scope: :base), admin_tests_path, class: 'btn btn-primary' %>
