<div class="header">
 <%= t('.welcome') %>:
  <%= mail_name(current_user.email) %> <%= button_to t('.logout'),
                            destroy_user_session_path, method: :delete, class: :button %>
</div>
