<tbody>
  <tr>
    <td><%= truncate(gist.question.body, length: 25) %></td>
    <td><%= link_to gist.gist_url, gist.gist_url %></td>
    <td><%= gist.user.first_name %></td>
    <td><%= link_to t(:delete, scope: :base), admin_gist_path(gist), method: :delete %></td>
  </tr>
</tbody>
