<h1>The <%= @test_passage.test.title test %></h1>

<% if @test_passage.success_rate >= 85 %>
  <h2 class="green" >Test passed!</h2>
<% else %>
  <h2 class="red" >Test failed!</h2>
<% end %>

<p> <%= "Success rate: %.0f" % @test_passage.success_rate %>% </p>

<%= link_to 'Back to tests', root_path %>
