<footer>
<p>Year: <%= now_year %></p>
<p>GitHub page: <%= github_url('NicholasKrupenin', 'TestGuru') %></p>
<p>Author: Krupenin Nikolay</p>
<p>School: <a rel=nofollow rel=noopener href="http://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a></p>
</footer>
