<style>
table  { border-collapse: collapse; }
       tr { border: none; }
       td { border-right: solid 2px; 
            border-left: solid 2px;
}
td {text-align: center;}

footer{
    padding: 20px;
    left: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
}
</style>

</table>

<table style="width:70%">
