<h1>Answers</h1>

<li>
  <%= answer.body %><br>
  <%= link_to 'Edit', edit_admin_answer_path(answer) %>
  <%= link_to 'Delete', admin_answer_path(answer), method: :delete,
                        data: { confirm: 'Are you sure?' } %>
</li>

<%= link_to 'New Answer', new_admin_question_answer %>
