<h1>Question</h1>

<p>
  <b><%= @answer.question.body %> Answer:</b>
  <%= @answer.body %><br>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>

<%= link_to 'Back', admin_question_path(@answer.question) %>
