 <h1>List of tests</h1>

<%= render "shared/style" %>

<table style="width:70%">
  <tr>
    <th> <b>Test</b> </th>
    <th colspan="2" > <b>What to do </th>
    <th> <b>Number of question</b> </th>
  </tr>

<%= render @tests %>

</table>
<br><br>
<%= link_to '>> Create new test', new_test_path %>

