<h1>List of <%= @test.title %> test questions</h1>

<table>
  <tr>
    <th> <b>Question</b> </th>
    <th colspan="2" > <b>What to do </th>
  </tr>

  <%= render @test.questions %>
</table>

<br><br>
<%= link_to "Add quiestion", new_test_question_path(@test) %>
<br><br>
<%= link_to "Back", tests_path %>
